main.explore-main{
    min-height: 100vh;
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom right, var(--primary), white);
}

main.explore-main > div.container{
    padding-top: 9rem;
}

main.explore-main div.bikes-container{
    min-height: 60vh;
    max-height: 70vh;
    overflow-y: scroll;
}

main.explore-main div.bikes-container div.card-hold{
    position: relative;
}
main.explore-main div.bikes-container div.card-hold div.unavail{
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 90%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: inherit;
}

main div.bikes-container div.card-hold div.card {
    box-shadow: 0 0 10px var(--primary);
    overflow: hidden;
    border-radius: 10px;
}

main.explore-main div.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgba(0, 0, 0, 0.3);
}

main.explore-main div.popup-hold{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    z-index: 5;
    display: grid;
    place-items: center;
}