main.home-main #hero-carousel .carousel-item{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

main.home-main #hero-carousel .carousel-item .w-100.h-100{
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}

main.home-main{
    position: relative;
    width: 100%;
}

.hero-text{
    text-transform: uppercase; 
    font-weight: 600;
    text-shadow: 10px 10px 20px var(--primary);
}

main.home-main section.wrapper{
    background: linear-gradient(180deg, var(--primary), #fff, #fff);
    padding-top: 2rem;
}

main.home-main .text-big{
    font-size: 1.5rem;
    font-weight: 600;
}

main.home-main div.why-hold{
    max-width: 700px;
    margin: auto;
    height: 18rem;
}

main.home-main div.why-hold .carousel-item{
    padding: 1rem;
}
main.home-main div.why-hold .carousel-item .card-body{
    box-shadow: 0 0 10px var(--primary);
    border-radius: 10px;
    border: 3px dashed var(--primary);
}

main.home-main div.why-hold a.carousel-control-prev{
    left: -5rem;
    color: var(--primary);
}
main.home-main div.why-hold a.carousel-control-next{
    right: -5rem;   
    color: var(--primary);
}
#why-us-carousel a.carousel-control-next:hover,
#why-us-carousel a.carousel-control-prev:hover{
    color: #000;
}


#why-us-carousel ol.carousel-indicators{
    bottom: -3rem;
}
#why-us-carousel ol.carousel-indicators li{
    /* background: #000; */
    height: 1px !important;
    /* border-radius: 50%; */
}

main.home-main #faq-accordion {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


main.home-main #faq-accordion .question{
    width: 100%;
    color: black;
}
main.home-main #faq-accordion .card-header{
    cursor: pointer;
}
main.home-main #faq-accordion .card-body{
    color: var(--primary);
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .hero-text{
        font-size: 3rem !important;
    }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}